/****** General ***********/
/* * {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;
} */

* {
  --main-color: #0065fc;
  --secondary-color: #deebff;
  --background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: auto;
  padding: 1em 2em 0 2em;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  object-fit: cover;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

header img {
  width: 61px;
  margin: 1.3em 0;
}

header nav a {
  padding: 1.3em;
  position: relative;
  height: 100%;
}

header nav a:hover {
  font-weight: 500;
  color: var(--main-color);
}

header nav a:hover:after {
  content: '';
  position: absolute;
  top: -1em;
  left: 0;
  background-color: var(--main-color);
  width: 100%;
  height: 2px;
}

/* Search section */

.destination-search h2 {
  margin-bottom: 0.5em;
}

.searchbar {
  display: flex;
  align-items: center;
  margin-top: 1.25em;
  margin-bottom: 2.25em;
}

.searchbar label {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 15px 0px 0px 15px;
  background-color: var(--background-color);
}

.searchbar label i {
  background-color: var(--background-color);

  width: 14px;
  height: 18px;
}

.searchbar input {
  border: 2px var(--background-color) solid;
  padding: 1em;
  min-height: 50px;
  width: 275px;
}

.searchbar input::placeholder {
  font-weight: 700;
  color: black;
  font-size: 1em;
}

.searchbar input:focus {
  outline: none;
  border: 2px var(--main-color) solid;
}

input:focus::placeholder {
  color: transparent;
}

.searchbar button {
  cursor: pointer;
  height: 50px;
  min-width: 132px;
  border: 0;
  border-radius: 0px 15px 15px 0px;
  color: white;
  background-color: var(--main-color);
  font-size: 1em;
  font-weight: 700;
  transform: translateX(-2px);
}

.searchbar button i {
  transition: 250ms ease;
  display: none;
}

.searchbar button:hover i {
  transform: scale(1.15);
}

.filters {
  display: flex;
  align-items: baseline;
  gap: 1.5em;
  flex-wrap: wrap;
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3em;
}

.filters ul li button {
  cursor: pointer;
  padding: 0.6em 1em;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  vertical-align: baseline;
  font-weight: 700;
  transition: 400ms;
}

.filters ul li button:hover {
  background-color: #deebff;
}

.filters ul li i {
  width: 22px;
  margin-right: 0.5em;
  color: var(--main-color);
}

.search-results {
  margin: 2em auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.search-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results i {
  color: var(--main-color);
  width: 4px;
  height: 15px;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hebergement {
  width: 66%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2em;
}

.hebergement h3,
.activities h3 {
  font-size: 1.4em;
}

.hebergement,
.popular {
  border-radius: 28px;
  padding: 40px;
  background-color: var(--background-color);
}

.popular-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}

.popular-header i {
  width: 15px;
  color: #0065fc;
}

.hebergement-plus {
  cursor: pointer;
  border: none;
  font-weight: 600;
  font-size: 1.1em
}

.hebergement-plus:hover {
  color: var(--main-color);
}

.stars i {
  margin-right: 1px;
  width: 12px;
  color: var(--main-color);
}

.stars i:last-child {
  color: #f2f2f2;
}

.hebergement-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.popular {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.popular-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  transition: box-shadow 0.3s;
}

.card:hover,
.activity:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main a:hover img {
  opacity: 0.8;
}

.card a {
  padding: 5px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.card p {
  font-size: 0.8em;
}

.card-body-hebergement {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.card-hebergement {
  width: 30%;
  max-height: 190px;
}

.card-hebergement a {
  flex-direction: column;
}

.card-hebergement img {
  border-radius: 20px 20px 0px 0px;
  height: 58%;
  max-height: 125px;
}

.card-popular {
  height: 145px;
  width: 100%;
}

.card-popular a {
  gap: 5px;
  flex-direction: row;
}

.card-popular img {
  border-radius: 20px 0px 0px 20px;
  width: 40%;
}

.card-body-hegbergement {
  padding: 0.5em;
}

.card-popular-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}

.card-popular-body-description {
  display: flex;
  flex-direction: column;
  gap: 5px 10px;
}

.activities {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}

.activities-content {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  height: 445px;
}

.activity {
  border-radius: 20px;
  width: 22%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
  transition: 0.5s;
}

.activity img {
  border-radius: 15px 15px 0px 0px;
  height: 85%;
  width: 100%;
}

.activity h4 {
  padding: 1em;
}

/* Footer */

footer {
  margin-top: 2em;
  background-color: var(--background-color);
  padding: 45px 70px;
}

footer nav {
  width: 100%;
  display: flex;
  gap: 13vw;
}

footer nav h5 {
  font-size: 1.1em;
  margin-bottom: 1em;
}

footer nav ul li {
  margin-top: 0.5em;
  font-size: 1em;
}

footer a:hover {
  color: var(--main-color);
}

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .destination-search h2 {
    margin-bottom: 0.35em;
  }

  .main-row {
    flex-direction: column;
  }

  .hebergement,
  .popular {
    width: 100%;
  }

  .popular-content {
    flex-wrap: nowrap;
  }

  .activities-content {
    height: 265px;
  }

  .activity img {
    height: 75%;
  }

  .activity h4 {
    padding: 0.5em 1em;
  }

  .filters {
    flex-direction: column;
    gap: 0.5em;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    padding: 0;
  }

  .card p {
    font-size: 0.8em;
    padding: 8px 0 3px;
  }

  .destination-search {
    padding: 1em;
  }

  .destination-search {
    padding: 0 1.25em;
  }

  .searchbar {
    justify-content: center;
    margin: 2.25em auto;
  }

  .searchbar button {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-13px);
  }

  .searchbar button i {
    display: block;
  }

  .searchbar button span {
    display: none;
  }

  .searchbar input {
    width: 75%;
    max-width: 700px;
}

  header {
    align-items: center;
    flex-direction: column;
  }

  header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
  }

  header nav a {
    width: 100%;
    text-align: center;
  }

  header nav:before {
    content: '';
    position: absolute;
    left: 0px;
    background-color: var(--background-color);
    width: 100vw;
    height: 2px;
    bottom: 0px;
  }

  header nav a:hover:after {
    height: 3px;
    top: 58px;
    width: 100%;
  }

  .hebergement {
    background-color: white;
  }

  .hebergement button {
    display: none;
  }

  .hebergement-content,
  .activities-content {
    flex-direction: column;
  }

  .filters ul li button {
    width: 42vw;
    height: 4em;
    text-align: left;
  }

  .filters ul li i {
    font-size: 1.5em;
  }

  .card-hebergement,
  .activity,
  .popular,
  .hebergement {
    width: 100%;
  }

  .popular {
    border-radius: 0;
  }

  .main-row {
    flex-direction: column-reverse;
  }

  .popular-content {
    flex-direction: column;
    gap: 15px;
  }
  .activities,
  .popular,
  .hebergement {
    padding: 1.5em;
  }

  .activities-content {
    height: auto;
    gap: 15px;
  }

  .activity {
    height: 200px;
  }

  .activity img {
    height: 75%;
  }

  footer {
    padding: 45px 30px;
    line-height: 1.5em;
  }

  footer nav {
    flex-direction: column;
  }
}
